In [1]:
import numpy as np
import pandas as pd

In [2]:
# Understanding the data 
df_1= pd.read_csv('dsc_fc_summed_spectra_2016_v01.csv',
delimiter = ',', parse_dates=[0], 
infer_datetime_format=True, na_values='0',
header = None)

In [3]:
df_1.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,2016-01-01 00:00:00,6.83609,-3.37934,-12.9205,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:01:00,6.76732,-3.30194,-12.9967,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 00:02:00,6.39107,-2.61173,-13.3271,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 00:03:00,6.44897,-2.61525,-13.3299,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 00:04:00,6.58758,-2.73082,-13.2361,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Checking for amount of NaN values
len(df_1.index)-df_1.isnull().sum()

0     283680
1     280417
2     280417
3     280417
4      24467
5      30543
6      45432
7      54624
8      67525
9      79534
10     92055
11    102494
12    115994
13    124868
14    140193
15    148917
16    156121
17    164561
18    172138
19    180264
20    190124
21    195587
22    199324
23    199709
24    202896
25    199364
26    199675
27    195229
28    190569
29    180294
30    173573
31    161682
32    153027
33    137721
34    129946
35    122063
36    113323
37    107108
38     99883
39     89245
40     81933
41     70968
42     65390
43     58596
44     49490
45     39850
46     31554
47     23651
48     20427
49     13621
50     12378
51     10530
52     10338
53      9946
dtype: int64

In [5]:
df_1.columns=["Time","Bx","By","Bz","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50"]

In [6]:
df_1.iloc[0:184][["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50"]]

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
 df_1.iloc[0].isna().any(axis=0)

True

In [8]:
df_1.iloc[0].isna().sum().sum()

50

In [9]:
len(df_1['Time'])

283680

In [20]:
df_final = pd.DataFrame()
df_dup=df_1
a=int(len(df_1['Time'])/183)+1
for i in range(1,a):
    k=183
    c=(k+1)*i
    df=df_1.iloc[c:c+k]
    try:
        g=0
        for j in range(1,50):
            if(df[str(j)].isna().sum()>(len(df["Time"])-3)):
                g=1
                print(c,c+k+1,j)
                break
                #df_dup=df_1.drop(range(c,c+k+1))
                #print(c,c+k+1)
                #break
        if(not g):
            df_final=pd.concat([df_final,df],axis=0)
    except:
        break

552 736 1
1472 1656 1
1840 2024 1
2024 2208 1
2944 3128 1
3128 3312 1
3312 3496 1
3496 3680 1
3680 3864 1
3864 4048 1
4048 4232 1
4232 4416 1
4416 4600 1
4784 4968 1
4968 5152 1
6072 6256 1
6256 6440 1
7176 7360 1
7728 7912 1
7912 8096 1
8096 8280 1
8648 8832 1
9016 9200 1
9200 9384 1
10120 10304 1
10488 10672 1
10672 10856 1
11592 11776 1
11960 12144 1
12144 12328 1
12880 13064 1
13064 13248 1
13432 13616 1
13616 13800 1
14352 14536 1
14536 14720 1
14720 14904 1
14904 15088 1
15088 15272 1
15824 16008 1
17296 17480 1
17480 17664 1
17664 17848 1
17848 18032 1
18032 18216 1
18216 18400 1
18400 18584 1
18584 18768 1
18768 18952 1
18952 19136 1
19136 19320 1
19320 19504 1
19504 19688 1
19688 19872 1
19872 20056 1
20056 20240 1
20240 20424 1
20424 20608 1
20608 20792 1
20792 20976 1
20976 21160 1
21160 21344 1
21344 21528 1
21528 21712 1
21712 21896 1
21896 22080 1
22080 22264 1
22264 22448 1
22448 22632 1
22632 22816 1
22816 23000 1
23000 23184 1
23184 23368 1
23368 23552 1
23552 23736 1
23736 23920 1
23920 24104 1
24104 24288 1
24288 24472 1
24472 24656 1
24656 24840 1
24840 25024 1
25024 25208 1
25208 25392 1
25392 25576 1
25576 25760 1
25760 25944 1
25944 26128 1
26128 26312 1
26312 26496 1
26496 26680 1
26680 26864 22
26864 27048 21
27048 27232 21
27232 27416 26
27416 27600 1
27600 27784 1
27784 27968 1
27968 28152 1
28152 28336 1
28336 28520 1
28520 28704 1
28704 28888 1
28888 29072 1
29072 29256 1
29256 29440 1
29440 29624 1
29624 29808 1
29808 29992 1
29992 30176 1
30176 30360 1
30360 30544 1
30544 30728 1
30728 30912 1
30912 31096 1
31096 31280 1
31280 31464 1
31464 31648 1
31648 31832 1
31832 32016 1
32016 32200 1
32200 32384 1
32384 32568 1
32568 32752 1
32752 32936 1
32936 33120 1
33120 33304 1
33304 33488 1
33488 33672 1
33672 33856 1
33856 34040 1
34040 34224 1
34224 34408 1
34408 34592 1
34592 34776 1
34776 34960 1
34960 35144 1
35144 35328 1
35328 35512 1
35512 35696 1
35696 35880 1
35880 36064 1
36064 36248 1
36248 36432 1
36432 36616 1
36616 36800 1
36800 36984 1
36984 37168 1
37168 37352 1
37352 37536 1
37536 37720 1
37720 37904 1
37904 38088 1
38088 38272 1
38272 38456 1
38456 38640 1
38640 38824 1
38824 39008 1
39008 39192 1
39192 39376 1
39376 39560 1
39560 39744 1
39744 39928 1
39928 40112 1
40112 40296 1
40296 40480 1
40480 40664 1
40664 40848 1
40848 41032 1
41032 41216 1
41216 41400 1
41400 41584 1
41584 41768 1
41768 41952 1
41952 42136 1
42136 42320 1
42320 42504 1
42504 42688 1
42688 42872 1
42872 43056 1
43056 43240 1
43240 43424 1
43424 43608 1
43608 43792 1
43792 43976 1
43976 44160 1
44160 44344 1
44344 44528 1
44528 44712 1
44712 44896 1
44896 45080 1
45080 45264 1
45264 45448 1
45448 45632 1
45632 45816 22
45816 46000 1
46000 46184 1
46184 46368 1
46368 46552 1
46552 46736 1
46736 46920 1
46920 47104 1
47104 47288 1
47288 47472 1
47472 47656 1
47656 47840 1
47840 48024 1
48024 48208 1
48208 48392 1
48392 48576 1
48576 48760 1
48760 48944 1
48944 49128 1
49128 49312 1
49312 49496 1
49496 49680 1
49680 49864 1
49864 50048 1
50048 50232 1
50232 50416 1
50416 50600 1
50600 50784 1
50784 50968 1
50968 51152 1
51152 51336 1
51336 51520 1
51520 51704 1
51704 51888 1
51888 52072 1
52072 52256 1
52256 52440 1
52440 52624 1
52624 52808 1
52808 52992 1
52992 53176 1
53176 53360 1
53360 53544 1
53544 53728 1
53728 53912 1
53912 54096 1
54096 54280 1
54280 54464 1
54464 54648 1
54648 54832 1
54832 55016 1
55016 55200 1
55200 55384 1
55384 55568 1
55568 55752 1
55752 55936 1
55936 56120 1
56120 56304 1
56304 56488 1
56488 56672 1
56672 56856 1
56856 57040 1
57040 57224 1
57224 57408 1
57408 57592 1
57592 57776 1
57776 57960 1
57960 58144 1
58144 58328 1
58328 58512 1
58512 58696 1
58696 58880 1
58880 59064 1
59064 59248 1
59248 59432 1
59432 59616 1
59616 59800 1
59800 59984 1
59984 60168 1
60168 60352 1
60352 60536 1
60536 60720 1
60720 60904 1
60904 61088 1
61088 61272 1
61272 61456 1
61456 61640 1
61640 61824 1
61824 62008 1
62008 62192 1
62192 62376 1
62376 62560 1
62560 62744 1
62744 62928 1
62928 63112 1
63112 63296 1
63296 63480 1
63480 63664 1
63664 63848 1
63848 64032 1
64032 64216 22
64216 64400 23
64400 64584 23
64584 64768 23
64768 64952 22
64952 65136 26
65136 65320 1
65320 65504 1
65504 65688 1
65688 65872 1
65872 66056 1
66056 66240 1
66240 66424 1
66424 66608 1
66608 66792 1
66792 66976 1
66976 67160 1
67160 67344 1
67344 67528 1
67528 67712 1
67712 67896 1
67896 68080 1
68080 68264 1
68264 68448 1
68448 68632 1
68632 68816 1
68816 69000 1
69000 69184 1
69184 69368 1
69368 69552 1
69552 69736 1
69736 69920 1
69920 70104 1
70104 70288 1
70288 70472 1
70472 70656 1
70656 70840 1
70840 71024 1
71024 71208 1
71208 71392 1
71392 71576 1
71576 71760 1
71760 71944 1
71944 72128 1
72128 72312 1
72312 72496 1
72496 72680 1
72680 72864 1
72864 73048 1
73048 73232 1
73232 73416 1
73416 73600 1
73600 73784 1
73784 73968 1
73968 74152 1
74152 74336 1
74336 74520 1
74520 74704 1
74704 74888 1
74888 75072 1
75072 75256 1
75256 75440 1
75440 75624 1
75624 75808 1
75808 75992 1
75992 76176 1
76176 76360 1
76360 76544 1
76544 76728 1
76728 76912 1
76912 77096 1
77096 77280 1
77280 77464 1
77464 77648 1
77648 77832 1
77832 78016 1
78016 78200 1
78200 78384 1
78384 78568 1
78568 78752 1
78752 78936 1
78936 79120 1
79120 79304 1
79304 79488 1
79488 79672 1
79672 79856 1
79856 80040 1
80040 80224 1
80224 80408 1
80408 80592 1
80592 80776 1
80776 80960 1
80960 81144 1
81144 81328 1
81328 81512 1
81512 81696 1
81696 81880 1
81880 82064 1
82064 82248 1
82248 82432 1
82432 82616 1
82616 82800 1
82800 82984 1
82984 83168 1
83168 83352 1
83352 83536 1
83536 83720 1
83720 83904 1
83904 84088 1
84088 84272 1
84272 84456 23
84456 84640 20
84640 84824 19
84824 85008 18
85008 85192 21
85192 85376 21
85376 85560 19
85560 85744 21
85744 85928 21
85928 86112 21
86112 86296 1
86296 86480 1
86480 86664 1
86664 86848 1
86848 87032 1
87032 87216 1
87216 87400 1
87400 87584 1
87584 87768 1
87768 87952 1
87952 88136 1
88136 88320 1
88320 88504 1
88504 88688 1
88688 88872 1
88872 89056 1
89056 89240 1
89240 89424 1
89424 89608 1
89608 89792 1
89792 89976 1
89976 90160 24
90160 90344 24
90344 90528 1
90528 90712 24
90712 90896 25
90896 91080 24
91080 91264 21
91264 91448 22
91448 91632 21
91632 91816 21
91816 92000 21
92000 92184 19
92184 92368 20
92368 92552 22
92552 92736 23
92736 92920 24
92920 93104 1
93104 93288 1
93288 93472 1
93472 93656 1
93656 93840 1
93840 94024 1
94024 94208 1
94208 94392 1
94392 94576 1
94576 94760 1
94760 94944 1
94944 95128 1
95128 95312 1
95312 95496 1
95496 95680 1
95680 95864 1
95864 96048 1
96048 96232 1
96232 96416 1
96416 96600 1
96600 96784 1
96784 96968 1
96968 97152 1
97152 97336 1
97336 97520 1
97520 97704 1
97704 97888 1
97888 98072 1
98072 98256 1
98256 98440 1
98440 98624 1
98624 98808 1
98808 98992 1
98992 99176 1
99176 99360 1
99360 99544 1
99544 99728 1
99728 99912 1
99912 100096 1
100096 100280 1
100280 100464 1
100464 100648 1
100648 100832 1
100832 101016 1
101016 101200 1
101200 101384 1
101384 101568 1
101568 101752 1
101752 101936 1
101936 102120 1
102120 102304 1
102304 102488 1
102488 102672 1
102672 102856 1
102856 103040 1
103040 103224 1
103224 103408 1
103408 103592 1
103592 103776 1
103776 103960 1
103960 104144 1
104144 104328 1
104328 104512 1
104512 104696 1
104696 104880 1
104880 105064 1
105064 105248 1
105248 105432 1
105432 105616 1
105616 105800 1
105800 105984 1
105984 106168 1
106168 106352 1
106352 106536 1
106536 106720 1
106720 106904 1
106904 107088 1
107088 107272 1
107272 107456 1
107456 107640 1
107640 107824 1
107824 108008 1
108008 108192 1
108192 108376 1
108376 108560 1
108560 108744 1
108744 108928 1
108928 109112 1
109112 109296 1
109296 109480 1
109480 109664 1
109664 109848 1
109848 110032 1
110032 110216 1
110216 110400 1
110400 110584 1
110584 110768 1
110768 110952 1
110952 111136 1
111136 111320 1
111320 111504 1
111504 111688 1
111688 111872 1
111872 112056 1
112056 112240 1
112240 112424 1
112424 112608 1
112608 112792 1
112792 112976 1
112976 113160 1
113160 113344 1
113344 113528 1
113528 113712 1
113712 113896 1
113896 114080 1
114080 114264 1
114264 114448 1
114448 114632 1
114632 114816 1
114816 115000 1
115000 115184 1
115184 115368 1
115368 115552 1
115552 115736 1
115736 115920 1
115920 116104 1
116104 116288 1
116288 116472 1
116472 116656 1
116656 116840 1
116840 117024 1
117024 117208 1
117208 117392 1
117392 117576 1
117576 117760 1
117760 117944 1
117944 118128 1
118128 118312 1
118312 118496 1
118496 118680 1
118680 118864 1
118864 119048 1
119048 119232 1
119232 119416 1
119416 119600 1
119600 119784 1
119784 119968 1
119968 120152 1
120152 120336 1
120336 120520 1
120520 120704 1
120704 120888 1
120888 121072 1
121072 121256 1
121256 121440 1
121440 121624 1
121624 121808 1
121808 121992 1
121992 122176 1
122176 122360 1
122360 122544 1
122544 122728 1
122728 122912 1
122912 123096 1
123096 123280 1
123280 123464 1
123464 123648 1
123648 123832 23
123832 124016 1
124016 124200 22
124200 124384 22
124384 124568 21
124568 124752 20
124752 124936 20
124936 125120 21
125120 125304 20
125304 125488 19
125488 125672 19
125672 125856 19
125856 126040 19
126040 126224 20
126224 126408 17
126408 126592 17
126592 126776 17
126776 126960 20
126960 127144 20
127144 127328 20
127328 127512 23
127512 127696 22
127696 127880 23
127880 128064 23
128064 128248 22
128248 128432 22
128432 128616 20
128616 128800 20
128800 128984 20
128984 129168 20
129168 129352 20
129352 129536 21
129536 129720 32
129720 129904 37
129904 130088 22
130088 130272 22
130272 130456 20
130456 130640 20
130640 130824 20
130824 131008 19
131008 131192 22
131192 131376 22
131376 131560 24
131560 131744 1
131744 131928 19
131928 132112 19
132112 132296 19
132296 132480 22
132480 132664 23
132664 132848 1
132848 133032 1
133032 133216 1
133216 133400 1
133400 133584 1
133584 133768 1
133768 133952 1
133952 134136 1
134136 134320 1
134320 134504 1
134504 134688 1
134688 134872 1
134872 135056 1
135056 135240 1
135240 135424 1
135424 135608 1
135608 135792 1
135792 135976 1
135976 136160 1
136160 136344 1
136344 136528 1
136528 136712 1
136712 136896 1
136896 137080 1
137080 137264 1
137264 137448 1
137448 137632 1
137632 137816 1
137816 138000 1
138000 138184 1
138184 138368 1
138368 138552 1
138552 138736 1
138736 138920 1
138920 139104 1
139104 139288 1
139288 139472 1
139472 139656 1
139656 139840 1
139840 140024 1
140024 140208 1
140208 140392 1
140392 140576 1
140576 140760 1
140760 140944 1
140944 141128 1
141128 141312 1
141312 141496 1
141496 141680 1
141680 141864 1
141864 142048 1
142048 142232 1
142232 142416 1
142416 142600 1
142600 142784 1
142784 142968 1
142968 143152 1
143152 143336 1
143336 143520 1
143520 143704 1
143704 143888 1
143888 144072 1
144072 144256 1
144256 144440 1
144440 144624 1
144624 144808 1
144808 144992 1
144992 145176 1
145176 145360 1
145360 145544 1
145544 145728 1
145728 145912 1
145912 146096 1
146096 146280 1
146280 146464 1
146464 146648 1
146648 146832 1
146832 147016 1
147016 147200 1
147200 147384 1
147384 147568 1
147568 147752 1
147752 147936 1
147936 148120 1
148120 148304 1
148304 148488 1
148488 148672 1
148672 148856 1
148856 149040 1
149040 149224 1
149224 149408 1
149408 149592 1
149592 149776 1
149776 149960 1
149960 150144 1
150144 150328 1
150328 150512 1
150512 150696 1
150696 150880 1
150880 151064 1
151064 151248 1
151248 151432 1
151432 151616 1
151616 151800 1
151800 151984 1
151984 152168 1
152168 152352 1
152352 152536 1
152536 152720 1
152720 152904 1
152904 153088 1
153088 153272 1
153272 153456 1
153456 153640 1
153640 153824 1
153824 154008 1
154008 154192 1
154192 154376 1
154376 154560 1
154560 154744 1
154744 154928 1
154928 155112 1
155112 155296 1
155296 155480 1
155480 155664 1
155664 155848 1
155848 156032 1
156032 156216 1
156216 156400 1
156400 156584 1
156584 156768 1
156768 156952 1
156952 157136 1
157136 157320 1
157320 157504 1
157504 157688 1
157688 157872 1
157872 158056 1
158056 158240 1
158240 158424 1
158424 158608 1
158608 158792 1
158792 158976 1
158976 159160 1
159160 159344 1
159344 159528 1
159528 159712 1
159712 159896 1
159896 160080 1
160080 160264 1
160264 160448 1
160448 160632 1
160632 160816 1
160816 161000 1
161000 161184 1
161184 161368 1
161368 161552 1
161552 161736 1
161736 161920 1
161920 162104 1
162104 162288 1
162288 162472 1
162472 162656 1
162656 162840 1
162840 163024 1
163024 163208 1
163208 163392 1
163392 163576 1
163576 163760 1
163760 163944 1
163944 164128 1
164128 164312 1
164312 164496 1
164496 164680 1
164680 164864 1
164864 165048 1
165048 165232 1
165232 165416 1
165416 165600 1
165600 165784 1
165784 165968 1
165968 166152 1
166152 166336 1
166336 166520 1
166520 166704 1
166704 166888 1
166888 167072 1
167072 167256 1
167256 167440 1
167440 167624 1
167624 167808 1
167808 167992 1
167992 168176 1
168176 168360 1
168360 168544 1
168544 168728 1
168728 168912 1
168912 169096 1
169096 169280 1
169280 169464 1
169464 169648 1
169648 169832 1
169832 170016 1
170016 170200 1
170200 170384 1
170384 170568 1
170568 170752 1
170752 170936 1
170936 171120 1
171120 171304 1
171304 171488 1
171488 171672 1
171672 171856 1
171856 172040 1
172040 172224 1
172224 172408 1
172408 172592 1
172592 172776 1
172776 172960 1
172960 173144 1
173144 173328 1
173328 173512 1
173512 173696 1
173696 173880 1
173880 174064 1
174064 174248 1
174248 174432 1
174432 174616 1
174616 174800 1
174800 174984 1
174984 175168 1
175168 175352 1
175352 175536 1
175536 175720 1
175720 175904 1
175904 176088 1
176088 176272 1
176272 176456 1
176456 176640 1
176640 176824 1
176824 177008 1
177008 177192 1
177192 177376 1
177376 177560 1
177560 177744 1
177744 177928 1
177928 178112 1
178112 178296 1
178296 178480 1
178480 178664 1
178664 178848 1
178848 179032 1
179032 179216 1
179216 179400 1
179400 179584 1
179584 179768 1
179768 179952 1
179952 180136 1
180136 180320 1
180320 180504 1
180504 180688 1
180688 180872 1
180872 181056 1
181056 181240 1
181240 181424 1
181424 181608 1
181608 181792 1
181792 181976 1
181976 182160 1
182160 182344 22
182344 182528 1
182528 182712 1
182712 182896 1
182896 183080 1
183080 183264 1
183264 183448 1
183448 183632 1
183632 183816 1
183816 184000 1
184000 184184 1
184184 184368 1
184368 184552 1
184552 184736 1
184736 184920 1
184920 185104 1
185104 185288 1
185288 185472 1
185472 185656 1
185656 185840 1
185840 186024 1
186024 186208 1
186208 186392 1
186392 186576 1
186576 186760 1
186760 186944 1
186944 187128 1
187128 187312 1
187312 187496 1
187496 187680 1
187680 187864 1
187864 188048 1
188048 188232 1
188232 188416 1
188416 188600 1
188600 188784 1
188784 188968 1
188968 189152 1
189152 189336 1
189336 189520 1
189520 189704 1
189704 189888 1
189888 190072 1
190072 190256 1
190256 190440 1
190440 190624 1
190624 190808 1
190808 190992 1
190992 191176 1
191176 191360 1
191360 191544 1
191544 191728 1
191728 191912 1
191912 192096 1
192096 192280 1
192280 192464 1
192464 192648 1
192648 192832 1
192832 193016 1
193016 193200 1
193200 193384 1
193384 193568 1
193568 193752 1
193752 193936 1
193936 194120 1
194120 194304 1
194304 194488 1
194488 194672 1
194672 194856 1
194856 195040 1
195040 195224 1
195224 195408 1
195408 195592 1
195592 195776 1
195776 195960 1
195960 196144 1
196144 196328 1
196328 196512 1
196512 196696 1
196696 196880 1
196880 197064 1
197064 197248 1
197248 197432 1
197432 197616 1
197616 197800 1
197800 197984 1
197984 198168 1
198168 198352 1
198352 198536 1
198536 198720 1
198720 198904 1
198904 199088 1
199088 199272 1
199272 199456 1
199456 199640 1
199640 199824 1
199824 200008 1
200008 200192 1
200192 200376 1
200376 200560 1
200560 200744 1
200744 200928 1
200928 201112 1
201112 201296 1
201296 201480 1
201480 201664 1
201664 201848 1
201848 202032 1
202032 202216 1
202216 202400 1
202400 202584 1
202584 202768 1
202768 202952 1
202952 203136 1
203136 203320 1
203320 203504 1
203504 203688 1
203688 203872 22
203872 204056 21
204056 204240 21
204240 204424 21
204424 204608 20
204608 204792 21
204792 204976 22
204976 205160 22
205160 205344 20
205344 205528 22
205528 205712 21
205712 205896 21
205896 206080 21
206080 206264 20
206264 206448 20
206448 206632 20
206632 206816 19
206816 207000 19
207000 207184 20
207184 207368 19
207368 207552 19
207552 207736 22
207736 207920 1
207920 208104 1
208104 208288 1
208288 208472 1
208472 208656 1
208656 208840 1
208840 209024 1
209024 209208 1
209208 209392 1
209392 209576 1
209576 209760 1
209760 209944 1
209944 210128 1
210128 210312 1
210312 210496 1
210496 210680 1
210680 210864 1
210864 211048 1
211048 211232 1
211232 211416 1
211416 211600 1
211600 211784 1
211784 211968 1
211968 212152 1
212152 212336 1
212336 212520 1
212520 212704 1
212704 212888 1
212888 213072 1
213072 213256 1
213256 213440 1
213440 213624 1
213624 213808 1
213808 213992 1
213992 214176 1
214176 214360 1
214360 214544 1
214544 214728 1
214728 214912 1
214912 215096 1
215096 215280 1
215280 215464 1
215464 215648 1
215648 215832 1
215832 216016 1
216016 216200 1
216200 216384 1
216384 216568 1
216568 216752 1
216752 216936 1
216936 217120 1
217120 217304 1
217304 217488 1
217488 217672 1
217672 217856 1
217856 218040 1
218040 218224 1
218224 218408 1
218408 218592 1
218592 218776 1
218776 218960 1
218960 219144 1
219144 219328 1
219328 219512 1
219512 219696 1
219696 219880 1
219880 220064 1
220064 220248 1
220248 220432 1
220432 220616 1
220616 220800 1
220800 220984 1
220984 221168 1
221168 221352 1
221352 221536 1
221536 221720 1
221720 221904 22
221904 222088 22
222088 222272 22
222272 222456 1
222456 222640 23
222640 222824 1
222824 223008 22
223008 223192 22
223192 223376 22
223376 223560 22
223560 223744 1
223744 223928 1
223928 224112 1
224112 224296 1
224296 224480 1
224480 224664 1
224664 224848 1
224848 225032 1
225032 225216 1
225216 225400 1
225400 225584 1
225584 225768 1
225768 225952 24
225952 226136 1
226136 226320 24
226320 226504 1
226504 226688 1
226688 226872 1
226872 227056 1
227056 227240 1
227240 227424 1
227424 227608 1
227608 227792 1
227792 227976 1
227976 228160 1
228160 228344 1
228344 228528 1
228528 228712 1
228712 228896 1
228896 229080 1
229080 229264 1
229264 229448 1
229448 229632 1
229632 229816 1
229816 230000 1
230000 230184 1
230184 230368 1
230368 230552 1
230552 230736 1
230736 230920 1
230920 231104 1
231104 231288 1
231288 231472 1
231472 231656 1
231656 231840 1
231840 232024 1
232024 232208 1
232208 232392 1
232392 232576 1
232576 232760 1
232760 232944 1
232944 233128 1
233128 233312 1
233312 233496 1
233496 233680 1
233680 233864 1
233864 234048 1
234048 234232 1
234232 234416 1
234416 234600 1
234600 234784 1
234784 234968 1
234968 235152 1
235152 235336 1
235336 235520 1
235520 235704 1
235704 235888 1
235888 236072 1
236072 236256 1
236256 236440 1
236440 236624 1
236624 236808 1
236808 236992 1
236992 237176 1
237176 237360 1
237360 237544 1
237544 237728 1
237728 237912 1
237912 238096 1
238096 238280 1
238280 238464 1
238464 238648 1
238648 238832 1
238832 239016 1
239016 239200 1
239200 239384 1
239384 239568 1
239568 239752 1
239752 239936 1
239936 240120 1
240120 240304 1
240304 240488 1
240488 240672 1
240672 240856 1
240856 241040 1
241040 241224 1
241224 241408 1
241408 241592 1
241592 241776 1
241776 241960 1
241960 242144 21
242144 242328 21
242328 242512 21
242512 242696 21
242696 242880 22
242880 243064 21
243064 243248 20
243248 243432 20
243432 243616 19
243616 243800 19
243800 243984 17
243984 244168 17
244168 244352 18
244352 244536 18
244536 244720 18
244720 244904 18
244904 245088 20
245088 245272 20

245272 245456 20
245456 245640 22
245640 245824 1
245824 246008 1
246008 246192 1
246192 246376 1
246376 246560 1
246560 246744 1
246744 246928 1
246928 247112 1
247112 247296 1
247296 247480 1
247480 247664 1
247664 247848 1
247848 248032 1
248032 248216 1
248216 248400 1
248400 248584 1
248584 248768 1
248768 248952 1
248952 249136 1
249136 249320 1
249320 249504 1
249504 249688 1
249688 249872 1
249872 250056 1
250056 250240 1
250240 250424 1
250424 250608 1
250608 250792 1
250792 250976 1
250976 251160 1
251160 251344 1
251344 251528 1
251528 251712 1
251712 251896 1
251896 252080 1
252080 252264 1
252264 252448 1
252448 252632 1
252632 252816 1
252816 253000 1
253000 253184 1
253184 253368 1
253368 253552 1
253552 253736 1
253736 253920 1
253920 254104 1
254104 254288 1
254288 254472 1
254472 254656 1
254656 254840 1
254840 255024 1
255024 255208 1
255208 255392 1
255392 255576 1
255576 255760 1
255760 255944 1
255944 256128 1
256128 256312 1
256312 256496 1
256496 256680 1
256680 256864 1
256864 257048 1
257048 257232 1
257232 257416 1
257416 257600 1
257600 257784 1
257784 257968 1
257968 258152 1
258152 258336 1
258336 258520 1
258520 258704 1
258704 258888 1
258888 259072 1
259072 259256 1
259256 259440 1
259440 259624 1
259624 259808 1
259808 259992 1
259992 260176 1
260176 260360 1
260360 260544 1
260544 260728 1
260728 260912 1
260912 261096 1
261096 261280 1
261280 261464 1
261464 261648 1
261648 261832 1
261832 262016 1
262016 262200 1
262200 262384 1
262384 262568 1
262568 262752 1
262752 262936 1
262936 263120 1
263120 263304 1
263304 263488 1
263488 263672 1
263672 263856 1
263856 264040 1
264040 264224 1
264224 264408 1
264408 264592 1
264592 264776 1
264776 264960 1
264960 265144 1
265144 265328 1
265328 265512 1
265512 265696 1
265696 265880 1
265880 266064 1
266064 266248 1
266248 266432 1
266432 266616 26
266616 266800 1
266800 266984 1
266984 267168 1
267168 267352 1
267352 267536 1
267536 267720 1
267720 267904 1
267904 268088 1
268088 268272 1
268272 268456 1
268456 268640 1
268640 268824 1
268824 269008 1
269008 269192 1
269192 269376 1
269376 269560 1
269560 269744 1
269744 269928 1
269928 270112 1
270112 270296 1
270296 270480 1
270480 270664 1
270664 270848 1
270848 271032 1
271032 271216 1
271216 271400 1
271400 271584 1
271584 271768 1
271768 271952 1
271952 272136 1
272136 272320 1
272320 272504 1
272504 272688 1
272688 272872 1
272872 273056 1
273056 273240 1
273240 273424 1
273424 273608 1
273608 273792 1
273792 273976 1
273976 274160 1
274160 274344 1
274344 274528 1
274528 274712 1
274712 274896 1
274896 275080 1
275080 275264 1
275264 275448 1
275448 275632 1
275632 275816 1
275816 276000 1
276000 276184 1
276184 276368 1
276368 276552 1
276552 276736 1
276736 276920 1
276920 277104 1
277104 277288 1
277288 277472 1
277472 277656 1
277656 277840 1
277840 278024 1
278024 278208 1
278208 278392 1
278392 278576 1
278576 278760 1
278760 278944 1
278944 279128 1
279128 279312 1
279312 279496 1
279496 279680 1
279680 279864 1
279864 280048 1
280048 280232 1
280232 280416 1
280416 280600 1
280600 280784 1
280784 280968 1
280968 281152 1
281152 281336 1
281336 281520 1
281520 281704 1
281704 281888 1
281888 282072 24
282072 282256 23
282256 282440 22
282440 282624 21
282624 282808 24
282808 282992 1
282992 283176 1
283176 283360 1
283360 283544 1
283544 283728 1
283728 283912 1
283912 284096 1
284096 284280 1
284280 284464 1
284464 284648 1
284648 284832 1
284832 285016 1

In [21]:
len(df_final["Time"])

9699

In [22]:
len(df_1["Time"])

283680

In [2]:
full_data=pd.read_csv('merged.csv')

In [24]:
full_data.iloc[365:368]

,Time,Bx,By,Bz,1,2,3,4,5,6,...,46,47,48,49,50,year,month,day,days,Kp
365,2016-01-01 06:05:00,4.29098,-6.44710,-7.19206,143.834,109.560,125.475,124.1160,127.1630,75.4192,...,149.776,152.936,135.228,161.165,140.635,NaN,NaN,NaN,NaN,NaN
366,2016-01-01 06:06:00,3.27720,-2.49201,-9.90422,148.235,104.279,121.785,90.3689,89.4646,72.6499,...,146.422,158.682,139.984,157.239,141.956,NaN,NaN,NaN,NaN,NaN
367,2016-01-01 06:07:00,2.27488,-2.47778,-10.35640,143.336,103.440,126.416,130.6150,127.0710,72.6778,...,150.588,155.391,132.879,161.134,141.838,2016.0,1.0,1.0,30681.25,5.0

In [4]:
full_data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
full_data.head(2)

,date,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,year,month,day,days,Kp
0,2016-01-01 00:00:00,6.83609,-3.37934,-12.9205,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:01:00,6.76732,-3.30194,-12.9967,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016.0,1.0,1.0,30681.0,6.0

In [35]:
full_data.columns

Index(['date', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48',
       '49', '50', '51', '52', '53', 'year', 'month', 'day', 'days', 'Kp'],
      dtype='object')

In [6]:
full_data.columns=["Time","Bx","By","Bz","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50",'year', 'month', 'day', 'days', 'Kp']

In [7]:
full_data

,Time,Bx,By,Bz,1,2,3,4,5,6,...,46,47,48,49,50,year,month,day,days,Kp
0,2016-01-01 00:00:00,6.83609,-3.37934,-12.920500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:01:00,6.76732,-3.30194,-12.996700,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016.0,1.0,1.0,30681.0,6.0
2,2016-01-01 00:02:00,6.39107,-2.61173,-13.327100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 00:03:00,6.44897,-2.61525,-13.329900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 00:04:00,6.58758,-2.73082,-13.236100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3277435,2023-05-02 23:55:00,4.33665,2.80127,0.954633,1.004790,0.231726,4.64757,0.626576,3.54595,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277436,2023-05-02 23:56:00,4.66778,2.10582,1.260660,0.781621,0.231726,5.97222,0.360648,3.39143,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277437,2023-05-02 23:57:00,4.28322,3.02154,0.927773,0.854185,0.231726,8.10454,2.025800,4.22000,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277438,2023-05-02 23:58:00,4.31376,2.67727,1.723270,0.801559,0.231726,12.76210,2.818550,4.82242,0.301864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3277439,2023-05-02 23:59:00,4.51542,2.30317,1.832570,2.265740,0.231726,11.68700,1.892900,2.39384,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
y=full_data["Kp"]

In [45]:
lol = y[~(pd.isna(y))]

In [47]:
len(lol)

18208

In [52]:
lol

1          6.000
184        5.333
367        5.000
550        3.333
733        1.667
           ...
3276550    2.667
3276733    1.000
3276916    1.000
3277099    1.667
3277282    0.667
Name: Kp, Length: 18208, dtype: float64

In [54]:
df_final = pd.DataFrame()
a=len(lol.index)
index= lol.index
for i in range(0,a-1):
    # k=183
    c=index[i]
    l=index[i+1]
    df=full_data.iloc[c:l]
    # print("hi ",c)
    try:
        g=0
        for j in range(1,50):
            if(df[str(j)].isna().sum()>(len(df["Time"])-1)):
                g+=1
                # print(c,c+k+1,j)
                #break
                #df_dup=df_1.drop(range(c,c+k+1))
                #print(c,c+k+1)
                #break
        if(g<8):
            #df.interpolate(method='polynomial',order=2)
            df_final=pd.concat([df_final,df],axis=0)
    except Exception as e:
        print(e)
        break

In [55]:
len(df_final["Time"])

148329

In [33]:
df_final[["Bx","By","Bz","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50"]]

,Bx,By,Bz,1,2,3,4,5,6,7,...,41,42,43,44,45,46,47,48,49,50
184,3.354850,0.889208,-12.89340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,3.230850,0.825016,-12.88540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,3.336180,0.858471,-12.85350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,3.288260,0.785345,-12.87140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,3.281750,0.790407,-12.85160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270755,-0.236318,0.074649,3.92354,2.39990,0.231726,6.07773,1.481970,7.53440,0.517735,3.34697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270756,0.015343,0.208545,4.23907,3.56489,0.231726,3.91604,1.013590,4.87756,0.536333,5.20108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270757,-0.277844,-0.796585,4.71982,1.05449,0.231726,5.16990,3.945790,7.74981,0.514977,3.57455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270758,0.229992,-0.274262,5.09344,1.08460,0.231726,4.61619,0.923816,6.17177,0.295443,2.24806,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270759,0.403606,0.341441,4.98017,2.06742,0.231726,6.00383,3.426220,7.01585,0.442904,1.93231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df_final[["50"]].interpolate(method='polynomial',order=5).isna().count()

50    148596
dtype: int64

In [10]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148596 entries, 184 to 3270782
Data columns (total 59 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    148596 non-null  object
 1   Bx      146735 non-null  float64
 2   By      146735 non-null  float64
 3   Bz      146735 non-null  float64
 4   1       99701 non-null   float64
 5   2       100764 non-null  float64
 6   3       101923 non-null  float64
 7   4       103458 non-null  float64
 8   5       104583 non-null  float64
 9   6       105464 non-null  float64
 10  7       106152 non-null  float64
 11  8       107051 non-null  float64
 12  9       106470 non-null  float64
 13  10      109016 non-null  float64
 14  11      109924 non-null  float64
 15  12      111516 non-null  float64
 16  13      112109 non-null  float64
 17  14      112373 non-null  float64
 18  15      112810 non-null  float64
 19  16      113308 non-null  float64
 20  17      113536 non-null  float64
 21  18      114814 non-null  float64
 22  19      114432 non-null  float64
 23  20      114668 non-null  float64
 24  21      114562 non-null  float64
 25  22      114339 non-null  float64
 26  23      114411 non-null  float64
 27  24      115881 non-null  float64
 28  25      116968 non-null  float64
 29  26      117503 non-null  float64
 30  27      117513 non-null  float64
 31  28      117064 non-null  float64
 32  29      117830 non-null  float64
 33  30      116348 non-null  float64
 34  31      113733 non-null  float64
 35  32      112845 non-null  float64
 36  33      111312 non-null  float64
 37  34      110514 non-null  float64
 38  35      109951 non-null  float64
 39  36      107736 non-null  float64
 40  37      106118 non-null  float64
 41  38      91750 non-null   float64
 42  39      87164 non-null   float64
 43  40      76661 non-null   float64
 44  41      59294 non-null   float64
 45  42      43661 non-null   float64
 46  43      36110 non-null   float64
 47  44      24969 non-null   float64
 48  45      22926 non-null   float64
 49  46      15920 non-null   float64
 50  47      15101 non-null   float64
 51  48      14342 non-null   float64
 52  49      13788 non-null   float64
 53  50      13374 non-null   float64
 54  year    823 non-null     float64
 55  month   823 non-null     float64
 56  day     823 non-null     float64
 57  days    823 non-null     float64
 58  Kp      823 non-null     float64
dtypes: float64(58), object(1)
memory usage: 68.0+ MB

In [36]:
df_final.loc[365:370]

,Time,Bx,By,Bz,1,2,3,4,5,6,...,46,47,48,49,50,year,month,day,days,Kp
365,2016-01-01 06:05:00,4.29098,-6.44710,-7.19206,143.834,109.560,125.475,124.1160,127.1630,75.4192,...,149.776,152.936,135.228,161.165,140.635,NaN,NaN,NaN,NaN,NaN
366,2016-01-01 06:06:00,3.27720,-2.49201,-9.90422,148.235,104.279,121.785,90.3689,89.4646,72.6499,...,146.422,158.682,139.984,157.239,141.956,NaN,NaN,NaN,NaN,NaN
367,2016-01-01 06:07:00,2.27488,-2.47778,-10.35640,143.336,103.440,126.416,130.6150,127.0710,72.6778,...,150.588,155.391,132.879,161.134,141.838,2016.0,1.0,1.0,30681.25,5.0
368,2016-01-01 06:08:00,2.24868,-3.21964,-10.07340,149.853,107.864,119.314,84.1787,92.3789,73.7542,...,149.614,152.029,138.220,162.124,138.485,NaN,NaN,NaN,NaN,NaN
369,2016-01-01 06:09:00,2.21823,-3.59131,-10.00470,155.906,100.759,115.752,134.5400,139.4980,104.3230,...,142.868,161.760,145.331,154.375,143.916,NaN,NaN,NaN,NaN,NaN
370,2016-01-01 06:10:00,2.29291,-3.81151,-9.93845,144.020,106.074,124.187,128.5960,130.6200,72.7200,...,145.815,153.230,137.637,159.079,137.421,NaN,NaN,NaN,NaN,NaN

In [56]:
def fillnanVals(df):
    cols = ["Bx","By","Bz","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50"]
    for i in cols:
        print(i)
        g= df[i]
        mean = g.mean()
        std = np.sqrt(g.var())
        for j in range(len(g)):
            if(np.isnan(g.iloc[j])):
                # g.iloc[j]=np.random.normal(mean,std)
                g.iloc[j]=mean+np.random.normal(0,1,1)

In [38]:
full_copy=full_data.copy()

In [39]:
fillnanVals(full_copy)

Bx

/tmp/ipykernel_914102/1722576194.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g.iloc[j]=mean+np.random.normal(0,1,1)

By

KeyboardInterrupt:

In [14]:
full_copy.to_csv("Interpolated.csv")

In [16]:
full_copy.head(10)

,Time,Bx,By,Bz,1,2,3,4,5,6,...,46,47,48,49,50,year,month,day,days,Kp
0,2016-01-01 00:00:00,6.83609,-3.37934,-12.9205,13.822494,2.242636,213.400058,-6.892206,175.553311,296.638701,...,196.712804,417.837842,339.230905,374.268334,124.576007,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:01:00,6.76732,-3.30194,-12.9967,9.772525,27.568609,-11.249177,211.273846,187.817035,213.511386,...,313.299907,208.648229,299.434847,304.549578,403.258915,2016.0,1.0,1.0,30681.0,6.0
2,2016-01-01 00:02:00,6.39107,-2.61173,-13.3271,9.312870,-6.126659,207.555304,-60.654741,151.427363,52.992652,...,286.266360,435.465582,158.407105,444.477576,211.843137,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 00:03:00,6.44897,-2.61525,-13.3299,41.998184,39.920549,193.203909,-65.324284,100.413238,121.455412,...,335.672961,342.285371,228.034150,213.140797,358.551864,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 00:04:00,6.58758,-2.73082,-13.2361,92.080402,22.734833,58.141349,203.945116,92.017638,167.390414,...,306.626214,431.378043,670.606734,324.877475,220.484336,NaN,NaN,NaN,NaN,NaN
5,2016-01-01 00:05:00,6.44875,-2.68868,-13.3076,219.664898,24.315339,209.620023,146.259880,86.910019,277.691854,...,199.426909,333.885421,360.105470,500.308295,244.883219,NaN,NaN,NaN,NaN,NaN
6,2016-01-01 00:06:00,6.38849,-2.61678,-13.3695,114.129126,94.177282,79.589791,-0.310749,170.133065,99.174240,...,371.478220,524.068497,259.455199,371.458058,110.910516,NaN,NaN,NaN,NaN,NaN
7,2016-01-01 00:07:00,6.28842,-2.54100,-13.4081,86.753240,-38.957609,141.381418,11.714234,-94.411133,136.338699,...,410.762896,190.576235,234.720604,374.284907,145.716600,NaN,NaN,NaN,NaN,NaN
8,2016-01-01 00:08:00,6.32911,-2.58715,-13.3603,6.326401,26.182327,78.901281,118.256865,42.960806,181.297205,...,370.814779,378.194594,361.962501,494.079523,373.246491,NaN,NaN,NaN,NaN,NaN
9,2016-01-01 00:09:00,6.33381,-2.67437,-13.3147,9.296030,64.013005,25.883433,-45.290407,151.483111,258.024999,...,116.447743,371.304728,434.615571,126.288004,427.043803,NaN,NaN,NaN,NaN,NaN

In [26]:
df_final.loc[360:370]

,Time,Bx,By,Bz,1,2,3,4,5,6,...,46,47,48,49,50,year,month,day,days,Kp
360,2016-01-01 06:00:00,4.27908,-7.85653,-6.08907,142.838,103.9860,130.149,131.5390,125.0320,104.7840,...,149.299,155.784,134.033,160.265,145.540,NaN,NaN,NaN,NaN,NaN
361,2016-01-01 06:01:00,4.12715,-7.86097,-6.10480,146.516,110.2910,124.393,123.6640,131.0430,112.5760,...,149.229,151.314,137.837,164.427,139.397,NaN,NaN,NaN,NaN,NaN
362,2016-01-01 06:02:00,4.32586,-8.00896,-5.69739,137.917,99.0083,132.370,135.8600,123.7810,101.3080,...,149.125,159.795,135.983,158.750,146.435,NaN,NaN,NaN,NaN,NaN
363,2016-01-01 06:03:00,4.37219,-7.85818,-5.82984,144.509,104.1990,125.531,132.3080,128.6280,104.2120,...,149.844,155.673,136.598,160.285,141.758,NaN,NaN,NaN,NaN,NaN
364,2016-01-01 06:04:00,4.58858,-7.81308,-5.78437,143.500,102.3960,128.116,133.3950,126.4230,102.3280,...,145.818,158.667,136.654,155.294,168.134,NaN,NaN,NaN,NaN,NaN
365,2016-01-01 06:05:00,4.29098,-6.44710,-7.19206,143.834,109.5600,125.475,124.1160,127.1630,75.4192,...,149.776,152.936,135.228,161.165,140.635,NaN,NaN,NaN,NaN,NaN
366,2016-01-01 06:06:00,3.27720,-2.49201,-9.90422,148.235,104.2790,121.785,90.3689,89.4646,72.6499,...,146.422,158.682,139.984,157.239,141.956,NaN,NaN,NaN,NaN,NaN
368,2016-01-01 06:08:00,2.24868,-3.21964,-10.07340,149.853,107.8640,119.314,84.1787,92.3789,73.7542,...,149.614,152.029,138.220,162.124,138.485,NaN,NaN,NaN,NaN,NaN
369,2016-01-01 06:09:00,2.21823,-3.59131,-10.00470,155.906,100.7590,115.752,134.5400,139.4980,104.3230,...,142.868,161.760,145.331,154.375,143.916,NaN,NaN,NaN,NaN,NaN
370,2016-01-01 06:10:00,2.29291,-3.81151,-9.93845,144.020,106.0740,124.187,128.5960,130.6200,72.7200,...,145.815,153.230,137.637,159.079,137.421,NaN,NaN,NaN,NaN,NaN

In [57]:
final_copy=df_final.copy()

In [58]:
fillnanVals(final_copy)

Bx

/tmp/ipykernel_914102/1722576194.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g.iloc[j]=mean+np.random.normal(0,1,1)

By
Bz
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [60]:
final_copy.to_csv("Filtered_Interpolation.csv")

In [25]:
final_copy=final_copy.reset_index(drop=True)

In [42]:
final_copy

,Time,Bx,By,Bz,1,2,3,4,5,6,...,46,47,48,49,50,year,month,day,days,Kp
184,2016-01-01 03:04:00,3.354850,0.889208,-12.89340,66.019119,30.376091,81.067780,67.816825,81.634751,69.161085,...,318.592158,311.481679,288.522293,327.790527,286.270825,2016.0,1.0,1.0,30681.125,5.333
185,2016-01-01 03:05:00,3.230850,0.825016,-12.88540,69.161614,25.619158,80.737362,67.101316,80.879001,68.554295,...,317.847774,313.183389,286.668015,329.756261,287.303915,NaN,NaN,NaN,NaN,NaN
186,2016-01-01 03:06:00,3.336180,0.858471,-12.85350,68.255955,27.445076,79.321671,69.063314,81.211808,67.830480,...,318.963260,313.541573,286.072561,327.885022,288.724639,NaN,NaN,NaN,NaN,NaN
187,2016-01-01 03:07:00,3.288260,0.785345,-12.87140,67.362437,26.570600,79.445221,67.529253,82.390888,68.326827,...,319.279778,311.099937,287.074361,328.699679,286.769187,NaN,NaN,NaN,NaN,NaN
188,2016-01-01 03:08:00,3.281750,0.790407,-12.85160,66.345401,27.383841,78.718984,68.274730,82.063167,66.876713,...,316.638880,313.122990,287.544693,329.899069,285.561021,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270755,2023-04-28 08:35:00,-0.236318,0.074649,3.92354,2.399900,0.231726,6.077730,1.481970,7.534400,0.517735,...,318.143275,313.344562,286.036226,329.821362,288.541344,NaN,NaN,NaN,NaN,NaN
3270756,2023-04-28 08:36:00,0.015343,0.208545,4.23907,3.564890,0.231726,3.916040,1.013590,4.877560,0.536333,...,316.416434,313.350570,288.209974,329.314539,287.998174,NaN,NaN,NaN,NaN,NaN
3270757,2023-04-28 08:37:00,-0.277844,-0.796585,4.71982,1.054490,0.231726,5.169900,3.945790,7.749810,0.514977,...,318.738726,311.986214,287.069977,328.293408,287.828746,NaN,NaN,NaN,NaN,NaN
3270758,2023-04-28 08:38:00,0.229992,-0.274262,5.09344,1.084600,0.231726,4.616190,0.923816,6.171770,0.295443,...,318.864576,311.682694,288.676713,329.198478,286.331623,NaN,NaN,NaN,NaN,NaN
3270759,2023-04-28 08:39:00,0.403606,0.341441,4.98017,2.067420,0.231726,6.003830,3.426220,7.015850,0.442904,...,317.865324,311.849433,287.380679,328.288851,288.356257,NaN,NaN,NaN,NaN,NaN

In [11]:
final_copy1=df_final.copy()
final_copy1

,Time,Bx,By,Bz,1,2,3,4,5,6,...,46,47,48,49,50,year,month,day,days,Kp
184,2016-01-01 03:04:00,3.354850,0.889208,-12.89340,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016.0,1.0,1.0,30681.125,5.333
185,2016-01-01 03:05:00,3.230850,0.825016,-12.88540,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,2016-01-01 03:06:00,3.336180,0.858471,-12.85350,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,2016-01-01 03:07:00,3.288260,0.785345,-12.87140,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,2016-01-01 03:08:00,3.281750,0.790407,-12.85160,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270778,2023-04-28 08:58:00,-2.153650,-2.794570,2.74216,2.10516,0.231726,8.66518,1.66949,9.60619,0.674678,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270779,2023-04-28 08:59:00,-0.530506,-1.221680,1.90248,3.53354,0.231726,7.94703,2.72486,6.44502,0.625266,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270780,2023-04-28 09:00:00,2.123870,2.115340,2.90622,2.03191,0.231726,8.19133,4.13665,9.29280,0.536912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270781,2023-04-28 09:01:00,1.658880,1.733010,3.50017,2.67550,0.231726,5.25048,2.57350,7.95142,0.478097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3270782,2023-04-28 09:02:00,1.007260,1.297180,3.70809,2.33308,0.231726,9.38101,2.61638,5.70070,0.372183,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
fillnanVals(final_copy1)

Bx

/tmp/ipykernel_914102/1722576194.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g.iloc[j]=mean+np.random.normal(0,1,1)

By
Bz
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [13]:
final_copy1

,Time,Bx,By,Bz,1,2,3,4,5,6,...,46,47,48,49,50,year,month,day,days,Kp
184,2016-01-01 03:04:00,3.354850,0.889208,-12.89340,67.661129,26.298362,80.341246,67.560987,81.205316,69.188238,...,318.558462,312.474566,287.166337,326.787492,288.300935,2016.0,1.0,1.0,30681.125,5.333
185,2016-01-01 03:05:00,3.230850,0.825016,-12.88540,68.222121,26.569572,81.661173,67.687720,82.946629,68.329891,...,318.539435,312.626192,286.138829,330.584637,285.012897,NaN,NaN,NaN,NaN,NaN
186,2016-01-01 03:06:00,3.336180,0.858471,-12.85350,68.116187,28.238115,79.188128,67.636326,81.433154,69.405840,...,319.770807,311.872892,286.909250,328.297530,286.461641,NaN,NaN,NaN,NaN,NaN
187,2016-01-01 03:07:00,3.288260,0.785345,-12.87140,68.169848,27.588688,79.770938,68.573323,79.634808,67.530203,...,318.322704,311.853706,288.076535,327.849997,287.781781,NaN,NaN,NaN,NaN,NaN
188,2016-01-01 03:08:00,3.281750,0.790407,-12.85160,67.638814,26.372656,81.178891,68.502857,80.091303,68.529303,...,318.339353,312.271543,286.239488,326.202074,284.991512,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270778,2023-04-28 08:58:00,-2.153650,-2.794570,2.74216,2.105160,0.231726,8.665180,1.669490,9.606190,0.674678,...,317.628831,310.507287,286.681660,328.060912,286.769763,NaN,NaN,NaN,NaN,NaN
3270779,2023-04-28 08:59:00,-0.530506,-1.221680,1.90248,3.533540,0.231726,7.947030,2.724860,6.445020,0.625266,...,319.478784,312.476512,285.524121,327.828499,286.116333,NaN,NaN,NaN,NaN,NaN
3270780,2023-04-28 09:00:00,2.123870,2.115340,2.90622,2.031910,0.231726,8.191330,4.136650,9.292800,0.536912,...,317.416048,311.160027,287.001423,327.457420,286.727591,NaN,NaN,NaN,NaN,NaN
3270781,2023-04-28 09:01:00,1.658880,1.733010,3.50017,2.675500,0.231726,5.250480,2.573500,7.951420,0.478097,...,319.263281,311.440987,287.279124,327.830426,287.227242,NaN,NaN,NaN,NaN,NaN
3270782,2023-04-28 09:02:00,1.007260,1.297180,3.70809,2.333080,0.231726,9.381010,2.616380,5.700700,0.372183,...,316.505317,312.030925,285.963181,328.371557,288.870918,NaN,NaN,NaN,NaN,NaN

In [14]:
final_copy1.to_csv("Filtered_Interpolation1.csv")

In [16]:
final_copy1['Kp'].isna().sum()

147773

In [17]:
final_copy1

,Time,Bx,By,Bz,1,2,3,4,5,6,...,46,47,48,49,50,year,month,day,days,Kp
184,2016-01-01 03:04:00,3.354850,0.889208,-12.89340,67.661129,26.298362,80.341246,67.560987,81.205316,69.188238,...,318.558462,312.474566,287.166337,326.787492,288.300935,2016.0,1.0,1.0,30681.125,5.333
185,2016-01-01 03:05:00,3.230850,0.825016,-12.88540,68.222121,26.569572,81.661173,67.687720,82.946629,68.329891,...,318.539435,312.626192,286.138829,330.584637,285.012897,NaN,NaN,NaN,NaN,NaN
186,2016-01-01 03:06:00,3.336180,0.858471,-12.85350,68.116187,28.238115,79.188128,67.636326,81.433154,69.405840,...,319.770807,311.872892,286.909250,328.297530,286.461641,NaN,NaN,NaN,NaN,NaN
187,2016-01-01 03:07:00,3.288260,0.785345,-12.87140,68.169848,27.588688,79.770938,68.573323,79.634808,67.530203,...,318.322704,311.853706,288.076535,327.849997,287.781781,NaN,NaN,NaN,NaN,NaN
188,2016-01-01 03:08:00,3.281750,0.790407,-12.85160,67.638814,26.372656,81.178891,68.502857,80.091303,68.529303,...,318.339353,312.271543,286.239488,326.202074,284.991512,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270778,2023-04-28 08:58:00,-2.153650,-2.794570,2.74216,2.105160,0.231726,8.665180,1.669490,9.606190,0.674678,...,317.628831,310.507287,286.681660,328.060912,286.769763,NaN,NaN,NaN,NaN,NaN
3270779,2023-04-28 08:59:00,-0.530506,-1.221680,1.90248,3.533540,0.231726,7.947030,2.724860,6.445020,0.625266,...,319.478784,312.476512,285.524121,327.828499,286.116333,NaN,NaN,NaN,NaN,NaN
3270780,2023-04-28 09:00:00,2.123870,2.115340,2.90622,2.031910,0.231726,8.191330,4.136650,9.292800,0.536912,...,317.416048,311.160027,287.001423,327.457420,286.727591,NaN,NaN,NaN,NaN,NaN
3270781,2023-04-28 09:01:00,1.658880,1.733010,3.50017,2.675500,0.231726,5.250480,2.573500,7.951420,0.478097,...,319.263281,311.440987,287.279124,327.830426,287.227242,NaN,NaN,NaN,NaN,NaN
3270782,2023-04-28 09:02:00,1.007260,1.297180,3.70809,2.333080,0.231726,9.381010,2.616380,5.700700,0.372183,...,316.505317,312.030925,285.963181,328.371557,288.870918,NaN,NaN,NaN,NaN,NaN

In [18]:
final_copy1.to_csv("Filtered_Interpolation1.csv")